@import 'config';

header {
    color: #000;
    padding-block: 1rem 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    height: 7.8rem;
    background: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
    z-index: 10;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    opacity: 0.3; /* Adjust for gloss level */
    filter: blur(15px); /* Blurs everything under the header */
    z-index: -1; /* Ensures overlay is behind content */
}

nav {
    @include flex(row);
    padding-top: .7rem;
    padding-left: 3.8rem;
    align-items: center;
    justify-content: space-between;

    .header-logo {
        font-family: $logo-font-family;
    }

    .header-logo-container,
    .header-icons-container {
        @include flex(row);
        align-items: center;
    }

    .header-logo-container {
        gap: 15rem;
    }

    .header-search-input {
        width: 55rem;
        border: 2px solid $Gray;
        border-radius: 20px;
        font-size: 1.3rem;
        padding: 1rem 3rem;
        outline: none;

        &:focus {
            border: 2px solid $Primary;
        }
    }

    .header-icons-container {
        @include flex(row);
        gap: 3rem;

        .line {
            border-left: 1.5px solid hsl(30, 2%, 79%);
            height: 4.4rem;
        }

        .notification-container {
            border: 2px solid $Gray;
            padding: 1.1rem 1.2rem;
            border-radius: 50%;

            &:hover {
                border: 2px solid $Primary;
            }
        }

        .profile-picture-container {
            height: 4rem;
            @include flex(row);
            align-items: center;
            gap: 1.3rem;

        }

        .profile-picture-container > img {
            height: 100%;
            width: 4rem;
            border-radius: 50%;
        }

        .profile-picture-container > p {
            font-size: 1.8rem;
        }

        @include breakpoint(md) {
            display: none;
        }
    }
}

.hamburger-menu {
    display: none;

    @include breakpoint(md) {
        display: block;
    }
}

.dropdown-container {
    position: fixed;
    top: 7.8rem;
    left: 0;
    width: 25rem;
    height: calc(100% - 4rem);
    z-index: 1;
    background-color: #fff;
    color: black;
    font-family: $logo-font-family;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Allow scrolling within dropdown */
    z-index: 1;

    @include breakpoint(md) {
        display: none;
    }
}

.dropdown-container.active {
    @include breakpoint(md) {
        display: block;
        width: 100%;
    }
}

.dropdown-flex-container {
    @include flex(column);

    gap: 25rem;

    @include breakpoint(md) {
        gap: 18rem;
        text-align: center;
        margin-top: 9rem;
    }
}

.dropdown-list {
    display: grid;
    gap: 2.5rem;
    font-size: 1.5rem;
    font-weight: 700;

    @include breakpoint(md) {
        gap: 3.5rem;
        font-size: 2.7rem;
    }

    .dropdown-item {
        @include flex(row);
        gap: 1rem;
        align-items: center;
        padding: 1.3rem 7rem 1.3rem 1.5rem;
        border-radius: 10px;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }

    .dropdown-item-active {
        background-color: #000;
        color: #fff;
    }
}

.dropdown-logout-button {
    color: #fff;
    background-color: $Primary;
    align-self: center;
    border-radius: 25px;
    padding: 1.2rem 4rem;
    @include transition;

    &:hover {
        border: 2px solid $Primary;
        color: $Primary;
        background-color: #fff;
    }

    @include breakpoint(md) {
        padding: 1.5rem 3.5rem;
    }
}

//Feed
.layout-for-feed-and-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 35%;
    margin-top: 10.5rem;
    margin-bottom: 5rem;

    @include breakpoint(lg) {
        margin-left: 40%;
        margin-top: 11.5rem;
    }

    @include breakpoint(md) {
        margin-left: 20%;
    }

    @include breakpoint(sm) {
        margin-left: 10%;
    }
}

.feed-main {   
    display: flex;
    gap: 1.5rem;

    .feed-people-container {
        border-radius: 20px;
        background-color: #fff;
        display: grid;
        grid-template-columns: 27% 75%;
        gap: 3rem;
        max-width: 70%;
        padding: 2.9rem 4.5rem;
    }

    .feed-people-image-container img{
        border-radius: 50%;
        width: 100%;
        height: 15rem;
    }

    .feed-people-text-container {
        @include flex(row);
        justify-content: space-between;
        align-items: center;
        margin-right: 4.3rem;
    }

    .feed-people-text p {
        padding-top: .7rem;
    }

    .feed-people-name {
        font-family: $logo-font-family;
    }

    .feed-people-department {
        color: $Primary;
    }

    .feed-people-button-container {
        align-self: flex-start;
        padding-top: 2.8rem;
    }

    .feed-people-button-container button {
        padding: 1rem 3rem;
        border: 1px solid $Primary;
        color: $Primary;
        border-radius: 26px;

        &:hover {
            border: 2px solid $Primary;
        }
    }

    .dummy-container {
        @include flex(column);
        margin-top: 10rem;
        margin-left: 10%;

        .dummy-icon {
            padding-left: 5rem;
            color: $Primary;
            font-size: 6rem;
            margin-bottom: 1rem;
        }
        
        .dummy-text {
            font-size: 2rem;
            font-weight: weights(bold);
        }
    }
}

//Profile
.profile-content-container {
    margin-top: 1rem;
    border-radius: 15px;
    background-color: #fff;
}

.profile-main {
    width: 45%;

    @include breakpoint(md) {
        width: 60%;
    }

    @include breakpoint(sm) {
        width: 81%;
    }

    @media screen and (max-width: 910px) and (min-width: 769px) {
        margin-left: 43%;
    }

    .profile-picture-section {
        @include flex(column);
        justify-content: end;
        border-radius: 15px 15px 0 0;
        height: 20rem;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .profile-picture-text {
        font-family: $logo-font-family;
        color: #fff;
        padding-left: 3rem;
        padding-bottom: 2rem;

        h2 {
            font-size: clamp(1.8rem, 2.5vw, 2.4rem);
        }
    }

    .profile-about-container,
    .profile-connection-container {
        @include flex(column);
        padding: 3rem;
        gap: 2rem;
    }

    .profile-caption-container {
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .profile-connection-text-container {
        text-align: center;

        h3 {
            font-size: clamp(1.7rem, 2vw, 2rem);
        }
        
    }

    .profile-connection-people {
        @include flex(row);
        gap: 2rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid $Gray;

        &:hover {
            border-bottom: 2px solid $Primary;
        }

        @include breakpoint(md) {
            gap: 1.5rem;
        }
    }

    .profile-connection-people img {
        width: 8rem; 
        height: 8rem;
        border-radius: 50%;
        object-fit: cover; /* Ensure the image fits within the circular container */

        @include breakpoint(lg) {
            width: 6rem;
            height: 6rem;
        }
        
        @include breakpoint(md) {
            width: 5rem;
            height: 5rem;
        }
        
    }

    .profile-connection-people p {
        align-self: center;
        font-size: clamp(1.6rem, 2vw, 1.8rem);
    }
}

//Notification
.notification-main {
    @include flex(column);
    width: 45%;

    gap: 1rem;

    @include breakpoint(lg) {
        width: 48%;
    }
    
    @include breakpoint(md) {
        width: 62%;
    }

    @include breakpoint(sm) {
        width: 80%;
    }

    .notification-welcome-text-container {
        margin-bottom: 1.3rem;
    }

    .notification-welcome-text-container h2 {
        font-size: clamp(2.7rem, 3.5vw, 3.2rem);
        font-family: $logo-font-family;
    }

    .notification-welcome-text-container span {
        font-size: clamp(2.7rem, 3.5vw, 3.2rem);
        color: $Primary;
    }

    .notification-container {
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.16);
        border-radius: 10px;
        width: 100%;
    }

    .notification-text-container {
        padding: 2rem;
        font-size: 1.8rem;
    }
}