@import 'config';

.index-body {
    background-color: #fff;
}

.index-header {
    width: 85%;
    margin: 0 auto;
    padding-top: .7rem;

    @include breakpoint(sm) {
        width: 95%;
    }

    .index-nav {
        @include flex(row);
        
        align-items: center;
        justify-content: space-between;
        margin: 2rem;

        .logo-container {
            font-family: $logo-font-family;

            .logo-container__text {
                @include breakpoint(sm) {
                    font-size: 1.7rem;
                }
            }
        }

        .button-container a {
            padding: 1.3rem 4rem;
            border: 1.5px solid $Primary;
            border-radius: 38px;
            color: $Primary;

            &:hover {
                color: #fff;
                background-color: $Primary;
            }

            @include breakpoint(sm) {
                padding: 0.7rem 2.5rem;
            }
        }
    }
}

.index-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;

    @include breakpoint(md) {
        @include flex(column);
        align-items: center;
        justify-content: center;
    }
}

.login-section {
    @include flex(column);
    margin-left: 18%;
    gap: 4rem;
    margin-top: 2.5rem;

    @include breakpoint(lg) {
        margin-top: 1.5rem;
        gap: 2.8rem;
    }

    @include breakpoint(md) {
        gap: 4rem;
    }

    #{&}__text-container {
        h2 {
            font-weight: weights(regular);
            color: $Primary;
            max-width: 80%;
            font-size: clamp(2rem, 3vw, 3.7rem);

            @include breakpoint(md) {
                font-size: clamp(3.3rem, 5vw, 3.8rem);
                max-width: 78%;
            }
        }
        
        span {
            color: black;
            font-family: $logo-font-family;

            @include breakpoint(sm) {
                display: inline-block;
            }
        }
    }
}

.login-section__form-container form {
    @include flex(column);
    width: 75%;
    gap: 1rem;

    a {
        margin-top: .5rem;
    }
}

.login-form-email-input,
.login-form-password-input {
    width: 100%;
    padding: 1.2rem .8rem;
    
    @include inputField;
}

.sign-in-button {
    padding: 1.3rem 0;
    
    @include bigButton;
}

.image-section {  
    @include breakpoint(md) {
        display: none;
    }
    
    img {
        height: 100%;
    }
}