@import 'config';

.index-body {
    background-color: #fff;
}

.index-header {
    width: 85%;
    margin: 0 auto;
    padding-top: .7rem;

    .index-nav {
        @include flex(row);
        
        align-items: center;
        justify-content: space-between;
        margin: 2rem;

        .logo-container {
            font-family: $logo-font-family;
        }

        .button-container a {
            padding: 1.3rem 4rem;
            border: 1.5px solid $Primary;
            border-radius: 38px;
            color: $Primary;

            &:hover {
                color: #fff;
                background-color: $Primary;
            }
        }
    }
}

.index-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem; //change this to clamp because it has issues at 1440px
}

.login-section {
    @include flex(column);
    margin-left: 18%;
    gap: 4rem;
    margin-top: 2.5rem;

    #{&}__text-container {
        h2 {
            font-weight: weights(regular);
            color: $Primary;
            max-width: 78%;
            font-size: 3.7rem;
        }
        
        span {
            color: black;
            font-family: $logo-font-family;
        }
    }
}

.login-section__form-container form {
    @include flex(column);
    width: 75%;
    gap: 1rem;

    a {
        margin-top: .5rem;
    }
}

.login-form-email-input,
.login-form-password-input {
    width: 100%;
    padding: 1.2rem .8rem;
    
    @include inputField;
}

.sign-in-button {
    padding: 1.3rem 0;
    
    @include bigButton;
}