@import 'config';

.signup-body,
.customizeprofile-body {
    background-color: $Gray;
}

.signup-header,
.customizeprofile-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7.8rem;
}

.signup-nav,
.customizeprofile-nav {
    width: 85%;
    margin: 0 auto;
    padding-top: 2.6rem;

    @include breakpoint(md) {
        width: 95%;
    }
}

.signup-header {
    .logo-container {
        font-family: $logo-font-family;

        @include breakpoint(md) {
            font-size: 1.3rem;
        }
    }
}

.main-utility-class {
    display: grid;
    place-items: center;
    align-items: center;
    justify-items: center;
    gap: 2.5rem;
    margin-top: 8rem;
    margin-bottom: 7rem;

    .text-container-utility-class {
        @include breakpoint(sm) {
            max-width: 85%;
            text-align: center;
        }

        h2 {
           font-weight: weights(regular);

            @include breakpoint(xl) {
                font-size: clamp(2.2rem, 3vw, 2.6rem);
            } 
        }
    }

    .form-container-utility-class {
        background-color: #fff;
        border-radius: 10px;
        padding: 3rem;

        @include breakpoint(sm) {
            padding: 2rem;
            margin-inline: 2rem;
        }

        form {
            @include flex(column);

            gap: 1rem;
        }

        .input-utility-class {
            width: 100%;
            border-radius: 5px;
            border: 1px solid black;

            @include inputField;
        }

        .button-utility-class {
            width: 100%;
            padding: 1.2rem 0;
            
            @include bigButton;
        }
    }
}

.signup-main {
    .signup-input {
        padding: .7rem;
        margin-top: .4rem;
    }
}

.customizeprofile-main {
    .customizeprofile-container {
        margin-bottom: 4rem;
    }

    .customizeprofile-text-container h2 {
        font-weight: weights(bold);
        font-size: 3.7rem;
    }

    .customizeprofile-text-container span {
        font-family: $logo-font-family;
        color: $Primary;
    }

    .customizeprofile-input,
    .customizeprofile-textarea {
        padding: 1rem;
        margin-top: .6rem;
    }

    .customizeprofile-textarea {
        resize: none;
        height: 6rem;
    }
}

.form-text {
    color: $Primary;
}