<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uni-connect App</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <h2 class="logo-container__text">uni-connect</h2>
            </div>

            <div class="button-container">
                <a href="/signup">Sign Up</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="login-section">
            <div class="login-section__text-container">
                <h2>Welcome to <span>uni-connect</span>, where you meet and network with your peers</h2>
            </div>

            <div class="login-section__form-container">
                <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %> <% } %> <% if (locals.messages.info) { %> <%
                messages.info.forEach( el => { %>
                <div class="alert alert-info"><%= el.msg %></div>
                <% }) %> <% } %>
                <form action="/login" method="POST">
                    <div class="login-form-email-container">
                        <label for="exampleInputEmail1" class="login-form-email-label"></label>
                        <input
                            type="email"
                            class="login-form-email-input"
                            id="exampleInputEmail1"
                            aria-describedby="emailHelp"
                            name="email"
                            placeholder="Email"
                        />
                    </div>

                    <div class="login-form-password-container">
                        <label for="exampleInputPassword1" class="login-form-password-label"></label>
                        <input
                            type="password"
                            class="login-form-password-input"
                            id="exampleInputPassword1"
                            name="password"
                            placeholder="Password"
                        />
                    </div>
                    <a href="/forgot">Forgot password?</a>
                    <button type="submit" class="sign-in-button">Sign in</button>
                </form>
            </div>
        </section>

        <section class="image-section">
            <img src="/img/6596292.jpg" alt="illustration of students interacting">
        </section>
    </main>
</body>
</html>