@import url("https://fonts.googleapis.com/css2?family=Orienta&family=Roboto+Condensed:wght@300;400;700&display=swap");
/* -- Mixin-- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

button {
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(1.4rem, 2.5vw, 1.6rem);
  background-color: #F5F6FB;
}

.alert {
  padding-block: 2rem;
  margin-bottom: 2rem;
}

.alert-danger {
  display: grid;
  place-content: center;
  width: 100%;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
}

.alert-info {
  display: grid;
  place-content: center;
  width: 100%;
  border: 1px solid hsl(39, 100%, 75%);
  border-radius: 5px;
  color: hsl(39, 100%, 75%);
}

header {
  color: #000;
  padding-block: 1rem 1.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 7.8rem;
  background: rgba(255, 255, 255, 0.6); /* Semi-transparent background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
  z-index: 10;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  opacity: 0.3; /* Adjust for gloss level */
  filter: blur(15px); /* Blurs everything under the header */
  z-index: -1; /* Ensures overlay is behind content */
}

nav {
  display: flex;
  flex-direction: row;
  padding-top: 0.7rem;
  padding-left: 3.8rem;
  align-items: center;
  justify-content: space-between;
}
nav .header-logo {
  font-family: "Orienta", sans-serif;
}
nav .header-logo-container,
nav .header-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav .header-logo-container {
  gap: 15rem;
}
nav .header-search-input {
  width: 55rem;
  border: 2px solid hsl(30, 15%, 95%);
  border-radius: 20px;
  font-size: 1.3rem;
  padding: 1rem 3rem;
  outline: none;
}
nav .header-search-input:focus {
  border: 2px solid hsl(249, 60%, 63%);
}
nav .header-icons-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
nav .header-icons-container .line {
  border-left: 1.5px solid hsl(30, 2%, 79%);
  height: 4.4rem;
}
nav .header-icons-container .notification-container {
  border: 2px solid hsl(30, 15%, 95%);
  padding: 1.1rem 1.2rem;
  border-radius: 50%;
}
nav .header-icons-container .notification-container:hover {
  border: 2px solid hsl(249, 60%, 63%);
}
nav .header-icons-container .profile-picture-container {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}
nav .header-icons-container .profile-picture-container > img {
  height: 100%;
  width: 21%;
  border-radius: 50%;
}
nav .header-icons-container .profile-picture-container > p {
  font-size: 1.8rem;
}
@media (max-width: 768px) {
  nav .header-icons-container {
    display: none;
  }
}

.hamburger-menu {
  display: none;
}
@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }
}

.dropdown-container {
  position: fixed;
  top: 7.8rem;
  left: 0;
  width: 25rem;
  height: calc(100% - 4rem);
  z-index: 1;
  background-color: #fff;
  color: black;
  font-family: "Orienta", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Allow scrolling within dropdown */
  z-index: 1;
}
@media (max-width: 768px) {
  .dropdown-container {
    display: none;
  }
}

@media (max-width: 768px) {
  .dropdown-container.active {
    display: block;
    width: 100%;
  }
}

.dropdown-flex-container {
  display: flex;
  flex-direction: column;
  gap: 25rem;
}
@media (max-width: 768px) {
  .dropdown-flex-container {
    gap: 18rem;
    text-align: center;
    margin-top: 9rem;
  }
}

.dropdown-list {
  display: grid;
  gap: 2.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  .dropdown-list {
    gap: 3.5rem;
    font-size: 2.7rem;
  }
}
.dropdown-list .dropdown-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 1.3rem 7rem 1.3rem 1.5rem;
  border-radius: 10px;
}
.dropdown-list .dropdown-item:hover {
  background-color: #000;
  color: #fff;
}
.dropdown-list .dropdown-item-active {
  background-color: #000;
  color: #fff;
}

.dropdown-logout-button {
  color: #fff;
  background-color: hsl(249, 60%, 63%);
  align-self: center;
  border-radius: 25px;
  padding: 1.2rem 4rem;
  transition: all 0.6s ease;
}
.dropdown-logout-button:hover {
  border: 2px solid hsl(249, 60%, 63%);
  color: hsl(249, 60%, 63%);
  background-color: #fff;
}
@media (max-width: 768px) {
  .dropdown-logout-button {
    padding: 1.5rem 3.5rem;
  }
}

.layout-for-feed-and-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 35%;
  margin-top: 10.5rem;
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .layout-for-feed-and-profile {
    margin-left: 20%;
  }
}

.feed-main {
  display: flex;
  gap: 1.5rem;
}
.feed-main .feed-people-container {
  border-radius: 20px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 27% 75%;
  gap: 3rem;
  max-width: 70%;
  padding: 2.9rem 4.5rem;
}
.feed-main .feed-people-image-container img {
  border-radius: 50%;
  width: 100%;
  height: 15rem;
}
.feed-main .feed-people-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 4.3rem;
}
.feed-main .feed-people-text p {
  padding-top: 0.7rem;
}
.feed-main .feed-people-name {
  font-family: "Orienta", sans-serif;
}
.feed-main .feed-people-department {
  color: hsl(249, 60%, 63%);
}
.feed-main .feed-people-button-container {
  align-self: flex-start;
  padding-top: 2.8rem;
}
.feed-main .feed-people-button-container button {
  padding: 1rem 3rem;
  border: 1px solid hsl(249, 60%, 63%);
  color: hsl(249, 60%, 63%);
  border-radius: 26px;
}
.feed-main .feed-people-button-container button:hover {
  border: 2px solid hsl(249, 60%, 63%);
}
.feed-main .dummy-container {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  margin-left: 10%;
}
.feed-main .dummy-container .dummy-icon {
  padding-left: 5rem;
  color: hsl(249, 60%, 63%);
  font-size: 6rem;
  margin-bottom: 1rem;
}
.feed-main .dummy-container .dummy-text {
  font-size: 2rem;
  font-weight: 700;
}

.profile-content-container {
  margin-top: 1rem;
  border-radius: 15px;
  background-color: #fff;
}

.profile-main, .notification-main {
  width: 45%;
}
@media (max-width: 768px) {
  .profile-main, .notification-main {
    width: 60%;
  }
}
.profile-main .profile-picture-section, .notification-main .profile-picture-section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 15px 15px 0 0;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.profile-main .profile-picture-text, .notification-main .profile-picture-text {
  font-family: "Orienta", sans-serif;
  color: #fff;
  padding-left: 4rem;
  padding-bottom: 3rem;
}
.profile-main .profile-about-container, .notification-main .profile-about-container,
.profile-main .profile-connection-container,
.notification-main .profile-connection-container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
}
.profile-main .profile-caption-container, .notification-main .profile-caption-container {
  font-size: 1.8rem;
  width: 80%;
  line-height: 2rem;
}
.profile-main .profile-connection-text-container, .notification-main .profile-connection-text-container {
  text-align: center;
  font-size: 1.8rem;
}
.profile-main .profile-connection-people, .notification-main .profile-connection-people {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid hsl(30, 15%, 95%);
}
.profile-main .profile-connection-people:hover, .notification-main .profile-connection-people:hover {
  border-bottom: 2px solid hsl(249, 60%, 63%);
}
.profile-main .profile-connection-people img, .notification-main .profile-connection-people img {
  width: 15%;
  border-radius: 50%;
  height: 8rem;
}
.profile-main .profile-connection-people p, .notification-main .profile-connection-people p {
  width: 85%;
  align-self: center;
}

.notification-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.notification-main .notification-welcome-text-container {
  margin-bottom: 1.3rem;
}
.notification-main .notification-welcome-text-container h2 {
  font-size: 3.2rem;
  font-family: "Orienta", sans-serif;
}
.notification-main .notification-welcome-text-container span {
  font-size: 2.8rem;
  color: hsl(249, 60%, 63%);
}
.notification-main .notification-container {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  width: clamp(fit-content, 5vw, 65%);
}
.notification-main .notification-text-container {
  padding: 2rem;
  font-size: 1.8rem;
}/*# sourceMappingURL=header.css.map */