@import url("https://fonts.googleapis.com/css2?family=Orienta&family=Roboto+Condensed:wght@300;400;700&display=swap");
/* -- Mixin-- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

button {
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: clamp(1.4rem, 2.5vw, 1.6rem);
  background-color: #F5F6FB;
}

.alert {
  padding-block: 2rem;
  margin-bottom: 2rem;
}

.alert-danger {
  display: grid;
  place-content: center;
  width: 100%;
  border: 1px solid red;
  border-radius: 5px;
  color: red;
}

.alert-info {
  display: grid;
  place-content: center;
  width: 100%;
  border: 1px solid hsl(39, 100%, 75%);
  border-radius: 5px;
  color: hsl(39, 100%, 75%);
}

.index-body {
  background-color: #fff;
}

.index-header {
  width: 85%;
  margin: 0 auto;
  padding-top: 0.7rem;
}
@media (max-width: 440px) {
  .index-header {
    width: 95%;
  }
}
.index-header .index-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
}
.index-header .index-nav .logo-container {
  font-family: "Orienta", sans-serif;
}
@media (max-width: 440px) {
  .index-header .index-nav .logo-container .logo-container__text {
    font-size: 1.7rem;
  }
}
.index-header .index-nav .button-container a {
  padding: 1.3rem 4rem;
  border: 1.5px solid hsl(249, 60%, 63%);
  border-radius: 38px;
  color: hsl(249, 60%, 63%);
}
.index-header .index-nav .button-container a:hover {
  color: #fff;
  background-color: hsl(249, 60%, 63%);
}
@media (max-width: 440px) {
  .index-header .index-nav .button-container a {
    padding: 0.7rem 2.5rem;
  }
}

.index-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5rem;
}
@media (max-width: 768px) {
  .index-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.login-section {
  display: flex;
  flex-direction: column;
  margin-left: 18%;
  gap: 4rem;
  margin-top: 2.5rem;
}
@media (max-width: 1024px) {
  .login-section {
    margin-top: 1.5rem;
    gap: 2.8rem;
  }
}
@media (max-width: 768px) {
  .login-section {
    gap: 4rem;
  }
}
.login-section .login-section__text-container h2 {
  font-weight: 400;
  color: hsl(249, 60%, 63%);
  max-width: 80%;
  font-size: clamp(2rem, 3vw, 3.7rem);
}
@media (max-width: 768px) {
  .login-section .login-section__text-container h2 {
    font-size: clamp(3.3rem, 5vw, 3.8rem);
    max-width: 78%;
  }
}
.login-section .login-section__text-container span {
  color: black;
  font-family: "Orienta", sans-serif;
}
@media (max-width: 440px) {
  .login-section .login-section__text-container span {
    display: inline-block;
  }
}

.login-section__form-container form {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 1rem;
}
.login-section__form-container form a {
  margin-top: 0.5rem;
}

.login-form-email-input,
.login-form-password-input {
  width: 100%;
  padding: 1.2rem 0.8rem;
  outline: none;
  border: 1px solid black;
  border-radius: 4px;
}
.login-form-email-input:focus,
.login-form-password-input:focus {
  border: 2px solid hsl(249, 60%, 63%);
  border-radius: 7px;
}

.sign-in-button {
  padding: 1.3rem 0;
  background-color: hsl(249, 60%, 63%);
  border-radius: 30px;
  font-size: 1.5rem;
  color: #fff;
  margin-top: 2rem;
}
.sign-in-button:hover {
  border: 2px solid hsl(249, 60%, 63%);
  color: hsl(249, 60%, 63%);
  background-color: #fff;
}

@media (max-width: 768px) {
  .image-section {
    display: none;
  }
}
.image-section img {
  height: 100%;
}/*# sourceMappingURL=index.css.map */